//- Created by Huy on 2/27/2015.
mixin iframe(width, height, src)
  iframe(width ="#{width}", height="#{height}", src="#{src}?wmode=transparent", frameborder="0", allowfullscreen)&attributes(attributes)
