footer#footer
  .container
    .footer-content
      .row
        .col-cus-5.col-xs-6
          .title Acadenics
          ul
            li
              +link("Undergraduate Programs", "#")
            li
              +link("Programme Finder", "#")
            li
              +link("Integrated Work Study Programme", "#")
            li
              +link("Overseas Immersion Programme", "#")
            li
              +link("Value-Added Programme", "#")
        .col-cus-5.col-xs-6
          .title Campus News
          ul
            li
              +link("Student Life", "#")
            li
              +link("Academic Info", "#")
            li
              +link("Student Support", "#")
            li
              +link("Career Services", "#")
        .col-cus-5.col-xs-6
          .title About
          ul
            li
              +link("Overview", "#")
            li
              +link("Leadership & Management Team", "#")
            li
              +link("Faculty", "#")
            li
              +link("Capus Locations", "#")
            li
              +link("Partner Universities", "#")
            li
              +link("Job Oppprtunities", "#")
        .col-cus-5.col-xs-6
          .title Calendar
          ul
            li
              +link("Events", "#")
            li
              +link("Press Centre", "#")
            li
              +link("Newsroom", "#")
        .col-cus-5.col-xs-6
          .title The Sit Blog
          ul
            li
              +link("Industry", "#")
            li
              +link("Community", "#")
            li
              +link("Life@SiT", "#")
            li
              +link("Alumni", "#")
        .col-cus-rb.block-share.col-xs-6
          .title Connect With Us
          .pull-left 
            ul
              li
                a.facebook(href='#', title='facebook')
                  i.fa.fa-facebook-official
              li
                a.instagram(href='#', title='instagram')
                  i.fa.fa-instagram
              li
                a.youtube(href='#', title='youtube')
                  i.fa.fa-youtube-square
              li
                a.twitter(href='#', title='twitter')
                  i.fa.fa-twitter-square
    .footer-bottom-section
      .logo-footer
        img(src="images/logo-footer.jpg", alt="")
      .copyright
        p Copyright &amp; 2015 Singapore Institute of Technology.<br/> All rights reserved. Company Resgistration No.: 200917667D
      .link
        a( href="#" . title='Privacy Statement') Privacy Statement
        | /
        a( href="#" . title='Term of Use') Term of Use
        | /
        a( href="#" . title='Site Map') Site Map